

<div style="width:200px;height:200px;background-color:grey;border-style:solid">
{{#link-to 'activity' }}

Room :{{name}}
{{/link-to}}

<br>
width: 2 meters<br>
height: 3 meters<br>
length: 3 meters<br>

</div>

{{yield}}
