

<nav class="navbar navbar-light bg-faded" style="background-color:lightgrey">
  <div class="nav navbar-nav">
    <a class="nav-item nav-link active" href="#/home">Home <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="#/app">demo</a>
    <a class="nav-item nav-link" href="#/how">how</a>
    <a class="nav-item nav-link" href="#/contact">contact</a>

  </div>
</nav>



{{outlet}}
