demo
<hr>


<button type="button" class="btn btn-primary" {{ action "add"}}>Add</button>



<hr>

<div id="container11" style="width:500px;height:500px;border-style:solid;position:absolute">
{{#each list as |i|}}
{{ hack-draggable}}


{{/each}}


</div>


{{outlet}}
