
<h4>How does this work?</h4>
<p>
	All Products are made of durable thin components that assemble together. When unassembled, they take up very little space allowing us to ship more stuff. You can reuse parts to assemble other products.
</p>

<br>

<h4>Is it hard to assemble?</h4>

<p>
No, All products are color coded to make it easy to assemble and disassembled into it's original size.
</p>


{{outlet}}
